<!DOCTYPE html>
<html>
    <head>
        <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/jquery.mobile.min.css">
        <script type="text/javascript" src="/static/jquery.min.js"></script>
        <script type="text/javascript" src="/static/jquery.mobile.min.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
    </head>
    <body>
        <div data-role="page">
            <div data-role="header">
                <h3><a href="/" data-ajax="false">D-Bakel Hauptseite</a></h3>
            </div>
            <div role="main" class="ui-content">
                {% block content %}Missing content{% endblock %}
            </div>
            <div data-role="footer">
                Version: 0.2.7 –
                <a href="/highscores/">Highscores</a> –
                <a href="/active/">Aktive Spiele</a> –
                <a href="https://git.ts.unde.re/niduroki/bahn-bingo">Source</a>
            </div>
        </div>
    </body>
</html>
