{% extends "base.html" %}
{% block content %}
<div id="info-row">
    {% if authenticated %}
        <button id="giveup" data-quit-url="{{quit_url}}" class="ui-btn ui-btn-inline">Aufgeben</button>
        {% if days > 65 %}
            <button id="cookie" data-cookie-url="{{cookie_url}}" class="ui-btn ui-btn-inline">Cookie neu setzen</button>
        {% endif %}
    {% endif %}
    Start-Zeit: {{ bingo.start_time.strftime("%d.%m.%y %H:%M Uhr") }} – Spieler: {{ bingo.player_name }}
    {% if bingo.finished %}
        – Bingo-Feld beendet.
        {% if bingo.score %}
            <strong>Punktzahl</strong>: {{ bingo.score }}
        {% else %}
            Keine Punkte.
        {% endif %}
    {% endif %}
</div>

{% for y in range(5) %}
<div class="bingo-row">
    {% for x in range(5) %}
        <div
                id="square-{{x+1}}-{{y+1}}"
                class="bingo-square{% if squares[x][y].check_time %} checked{% endif %}"
                data-submit-url="{{submit_url_base}}{{x+1}}/{{y+1}}/"
                data-undo-url="{{submit_url_base}}{{x+1}}/{{y+1}}/undo/"
        >
            <p>{{ squares[x][y].content }}</p>
            {% if squares[x][y].check_time %}
                <p>Zeit: {{ squares[x][y].check_time.strftime("%d.%m.%y %H:%M Uhr") }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
