{% extends "base.html" %}
{% block content %}
<form method="post" action="/" data-ajax="false">
  Spieler-Name: <input type="text" name="player_name" required><br>
  <input type="submit" value="Neues Spiel starten">
</form>
<br>
<h3>Top 5</h3>
<ol>
{% for game in games %}
  <li>
    <a href="/{{ game.link }}/">
      {{ game.player_name }} erreichte am {{ game.start_time.strftime("%d.%m.%y %H:%M Uhr") }}
    </a> {{ game.score }} Punkte
  </li>
{% else %}
  Noch keine Highscores.
{% endfor %}
</ol>
<a href="/highscores/" class="ui-btn ui-btn-inline">Highscores</a>
<hr>
<h3>Anleitung</h3>
<ul>
  <li>Bingo-Felder gedrückt halten zur Interaktion</li>
  <li>Angekreuzte Felder lassen sich so auch rückgängig machen</li>
  <li>Aufgeben-Knopf gedrückt halten zum aufgeben</li>
  <li>Am Ende verliert jeder</li>
</ul>
{% endblock %}
